.myName {
    color: var(--main-color);
    line-height: 40px;
}

.aboutMe {
    font-weight: bold;
    font-size: 2.2vw;
    margin: 50px 0px;
    line-height: 40px;
    color: #373a3c;
}


/* dark mode */

.App.dark .aboutMe {
    color: var(--gray-color);
}