@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Oxygen&family=PT+Sans&family=Poppins:wght@600&family=Raleway&family=Roboto&display=swap');
:root {
    --main-font: "Raleway", "Oxygen";
    --dark: #0E141B;
    --light: #fff;
    --main-color: #ff5277;
    --gray-color: #b6b6b6;
    --light-gray: rgb(55, 58, 60);
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: auto;
}

.container {
    width: 75%;
    margin: auto;
}

.setSpace {
    margin: 70px 0;
}

.h-large {
    font-size: 6vw;
    margin: 0;
    color: var(--light-gray);
}


/* dark mode */

.App.dark .h-large {
    font-size: 6vw;
    margin: 0;
    color: #fff;
}

@media screen and (max-width:992px) {
    .container {
        width: 95% !important;
        margin: auto;
    }
}