@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Oxygen&family=PT+Sans&family=Poppins:wght@600&family=Raleway&family=Roboto&display=swap');
:root {
    --main-font: "Raleway", "Oxygen";
    --dark: #0E141B;
    --light: #fff;
    --main-color: #ff5277;
    --gray-color: #b6b6b6;
    --light-gray: rgb(55, 58, 60);
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: auto;
    cursor: none;
    
}

.text-center{
    text-align: center;
}
.container {
    width: 75%;
    margin: auto;
}

.setSpace {
    margin: 70px 0;
}

.h-large {
    font-size: 6vw;
    margin: 0;
    color: var(--light-gray);
}
.set_title{
    font-size: 35px;
    font-weight: bold;
    padding: 10px 0px;
    display: block;
    width: fit-content;
    font-family: var(--main-font);
    border-bottom:5px solid var(--main-color) ;
}
.App.dark .set_title{
    color: var(--light);
   
   
}
.custom-cursor{
    position: absolute;
    top:0;
    left: 0;
    width: 15px;
    height: 15px;
    background-color: var(--main-color);
    border-radius: 100%;    
    pointer-events: none;
    transform: translate(-50%,-50%);
    transition: box-shadow .1s ease;
    z-index: 100000000000;
    
}

.clicked{
    box-shadow: inset 15px 0px  0px rgb(0, 157, 255);   
}
.p_box{
    padding: 50px;
}
/* dark mode */

.App.dark .h-large {
    font-size: 6vw;
    margin: 0;
    color: #fff;
}
.App.dark .custom-cursor{
    background-color: #fff;
 
}
@media screen and (max-width:992px) {
    body{
        cursor:default;
    }
    .custom-cursor{
        display: none;
    }
    .container {
        width: 95% !important;
        margin: auto;
    }
}